.custom-card {
	width: 1000px;
	margin: auto;
	padding: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.custom-card-header {
	text-align: center;
	margin-top: auto;
	margin-bottom: 30px;
}

.tituloscards {
	font-weight: 500px;
	font-size: 29px !important;
}
